@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world! index</h1>

Welcome to your new app.

<div class="row">
		<ErrorBoundary>
		<ToDoListPage></ToDoListPage>
		</ErrorBoundary>
	<div class="col-md-4">
		<Counter></Counter>
	</div>
</div>
