@page "/"

<PageTitle>Index</PageTitle>

<h1 class="text-center">Hi, I'm Andrew </h1>
<h1 class="text-center">Welcome to my web ToDo Lists</h1>
<p class="text-center">This project contains different types of ToDo lists.</p>

