@page "/"

<PageTitle>Index</PageTitle>

<h1 class="text-center text-decoration-underline">My Web Portfolio</h1>
This is where I will be putting my web projects for display.

<div class="row">
		
</div>
