@page "/"

<PageTitle>Index</PageTitle>

<h1 class="text-center">Hi, I'm Andrew </h1>
<h1 class="text-center">Welcome to my web portfolio</h1>
<p class="text-center">This is where you will find some of my web projects for display.</p>

