@using DataModels.Models

<div class="progress my-2">
	@if(List.EMListItems.Count > 0) 
	{
		<div class="progress-bar" role="progressbar"
				style="width: @(percentDone)%"
				aria-valuemin="0" aria-valuemax="100">
			@(percentDone)%
		</div>
	}
</div>

@code {
	[Parameter]
	public EMList List { get; set; }

	private int percentDone
	{
		get
		{
			return (List.EMListItems.Count(x => x.IsComplete) * 100) / List.EMListItems.Count;
		}
	}

}